ul{
    list-style: none;
}

.jumbotron {
    background-image:url('sfucsssbanner.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
}

.jumbotron .container .title { 
    position:absolute;
    top:0px;
    left:0px;
    top: 0px;
}

.jumbotron h1 {
    color: #f9a962;
    font-size: 48px;  
    font-family: 'Shift', sans-serif;
    font-weight: bold;
}

.jumbotron p{
    font-size: 20px;
    color: #8c1c40;
}

.jumbotron .contact{
    display: none;
    font-size: 18px;
    font-family: serif;
    font-weight: 500;
    color:#8c1c40;
    text-align: center;
    margin-top: 100px;
}

.jumbotron .contact li{
    

}

.gallery-nav {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.gallery-nav .container{
    display: flex;
    justify-content: center;
}

.gallery-nav .container a {
    margin: 10px 5%;
    border-style: solid;
    border-width: 2px;
    border-color: #5e5e5e;
}


.gallery-nav h2 {
    color: #393c3d;
    font-size: 24px;
}

.gallery-nav p{
    font-size: 15px;
    margin-bottom: 13px;
}

.nav-tabs > li > a{
  color:#8c1c40;
}

.nav-tabs > li > a:hover{
    background-color: #dddddf !important;
    
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    color:#f9a962;
    
}

.society h1{
    color:black;
}

.society {
    display: none;
}

.events{
    display:none;
}

.people{
    display: none;
}